
.mainCol{
   background-color: #002B87; 
}

.main{
    max-width: 350px;
    margin: 20vh auto;
    background-color: #002B87;
    display: flex;
    flex-direction: column;
}

img{
  background-color: #002B87;
  margin: 0 auto;
  width: 100px;
}

#root{
   background-color: #002B87;
   height: 100vh;
}

.Submit{
 color: #fff;
 background-color: #F30198;
}
    


  
   






