
.smallContainer{
  background-color: #002B87;

} 

.addbutton{
  border: none;
}

.addschoolnav{
  display: flex;
  justify-content: space-between;
}

.addschoollogo{
  margin: 0;
}

.addschoolsubmit{
  min-width: 85px;
  min-height: 42.5px;
  border: none;
  background-color: #F30198;
  border-radius: 5px;
  color: white;
}